		.gauche
		{
			background-color: burlywood;
		}
		.infos
		{ list-style: none;
		}

		
		h2
		{
			background-color: grey;
			color: white;
		}
		.photo
		{
			background-color: cyan;
		}
		h1
		{
			color: white;
			background-color:blueviolet;
		}
		img
		{
			width: 50%;
			border-radius: 50%;
			margin-left: 30%;
			margin-right: 30%;
            
		}
		main
		{
			display: flex;
		}
		.gauche
		{
			width: 30%;
			padding: 5px;
		}
		.droite
		{
			width: 70%;
			padding :5px;
            
		}
		table
		{
			background-color: ghostwhite;
			width: 100%;
		}
		.diplome
		{
			font-size: 16;
		}
		.right
		{
			text-align: right;
		}
		th
		{
			text-align: left;
		}
		td
		{
			padding-top:3px ;
		}
		.objectif
		{
			padding-top: 10px;
		}
		.education
		{
			padding-top: 5px;
		}
	